@font-face {
    font-family: 'Avenir';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("Avenir-Medium.woff2") format("woff2"),
    url("Avenir-Medium.woff2") format("woff");
}